h3 {
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkturquoise;
  text-decoration: underline;
}
p {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
li {
  background: coral;
  color: blue;
}
body {
  background-color: aquamarine;
}
img
{
  border-style: solid;background-color: blue;
}