h3 {
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkturquoise;
  text-decoration: underline;
}
p {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgoldenrod;
}
li {
  background: coral;
  color: blue;
}
